{% extends 'base.html' %}
{% load static %}

{% block content %}

<body>
    {% include 'header.html' %}

    <div style="background-color: #ff9900;" class="p-0 m-0">
        <div class="row w-100 m-0">
            <div class="col-12 w-100 p-0">
                <div class=" d-flex justify-content-center">
                    <h1 class=" font-weight-bold my-5 text-center display-3 text-light px-1">About Us</h1>
                </div>

            </div>

        </div>

        <div class="row w-100 m-0">
            <div class="col">

            </div>

            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 w-100 p-0">
                <div class=" d-flex justify-content-around">

                    <p class=" text-center text-light lead w-100 text-wrap pb-5 px-2">
                        We aim to make your business known countrywide and easily get accessed by people around your
                        area to add your daily sales.

                    </p>

                </div>

            </div>

            <div class="col">

            </div>

        </div>
    </div>

    <div class="cotainer">
        <div class="row w-100 my-5">
            <div class="col">

            </div>
            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-xs-12 m-3">
                <h1 class=" font-weight-bolder">Around Tz</h1>
                <p class="lead text-muted">
                    A free platform in which we easily bring your business to the face of customers by making free
                    advertisements and connecting you to make a direct chatting with your clients around Tanzania.
                </p>
                <!-- <p>
                    We aim to make your business known countrywide and easily get accessed by people around your area to add your daily sales.
                </p> -->
            </div>
            <div class="col">

            </div>

        </div>
    </div>

    
    {% include 'nav_footer.html' %}


</body>

{% endblock %}