{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<body>
    <style>
        #svgbg {
            background-image: url("{% static 'img/tablet.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;

        }
       
       
    </style>
    {% include 'header.html' %}

    <div style="background-color: #ff9900;" class="p-0 m-0" id="svgbg">
        <div style="background: #00000070;">
            <div class="row w-100 m-0">
                <div class="col-12 w-100 p-0">
                    <div class=" d-flex justify-content-center">
                        <h1 class=" font-weight-bold my-5 text-center display-3 text-light px-1">Contact Us</h1>
                    </div>
    
                </div>
    
            </div>

        <div class="row w-100 m-0 pb-5">
            <div class="col">

            </div>

            <div class="col-xl-8 col-lg-8 col-md-10 col-sm-12 col-xs-12 w-100 p-0">
                <div class=" d-flex justify-content-around">

                    <p class=" text-center text-light lead w-100 text-wrap pb-5 px-3">
                        We'd love to help you!

                    </p>

                </div>

            </div>

            <div class="col">

            </div>

        </div>
        </div>
       

    </div>

    <div class="container">
       

                <div class="row mb-5 p-2">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 my-5">
                        <h1 class="">Reach out to us!</h1>
                        <div style="height: 4px; background-color:#ff9900; width:80px;"
                            class="ml-aut mr-auto mt-2 mb-3"></div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy}}
                            <div class="form-actions">
                                <button type="submit" class="btn btn-light font-weight-bold w-50 text-light p-2"
                                style="background-color: #ff9900;">Send Message</button>
                            </div>
                           
                        </form>
                    </div>

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">

                        <div class="">
                            <div class=" px-auto">
                                <img src="{% static 'img/drawkit-support-man.png' %}" alt="" width="100%" height="auto"
                                class="">
                            </div>
                           
                        </div>

                    </div>

                </div>

           

        <div class="row mb-5">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h1>Other ways to connect</h1>
                <div style="height: 4px; background-color:#ff9900; width:100px;"
                    class="ml-aut mr-auto mt-2 mb-3"></div>

                <div class="d-flex flex-row mb-3">

                    <div class=" d-flex flex-row">
                        <a href="https://www.instagram.com/around.tz/" class=" text-decoration-none text-secondary">
                            <i class="fab fa-instagram fa-2x mr-2" style="color: #ff9900;"></i>
                            <span class=" text-muted mr-2 font-weight-bold">@around.tz</span>
                        </a>
                       
                    </div>
                    <div class=" d-flex flex-row">
                        <a href="https://twitter.com/around_tz" class=" text-decoration-none text-secondary">
                            <i class="fab fa-twitter fa-2x mx-2" style="color: #ff9900;"></i>
                        <span class=" text-muted font-weight-bold">@around_tz</span>
                        </a>
                        
                    </div>

                </div>

                <div class="d-flex flex-row mb-3">

                    <div class=" d-flex flex-row">
                        <a href="https://www.instagram.com/around.tz/" class=" text-decoration-none text-secondary">
                            <i class="far fa-envelope fa-2x mr-2" style="color: #ff9900;"></i>
                            <span class=" text-muted font-weight-bold">aroundtz20@gmail.com</span>
                        </a>
                       
                    </div>
                   

                </div>
                <!-- <div class="d-flex flex-row mb-5">
                    <div class=" d-flex flex-row">
                        <i class="fab fa-facebook fa-2x mr-2"></i>
                        <span class=" text-muted my-1 font-weight-bold">aroundtz</span>
                    </div>
                    <div class=" d-flex flex-row">
                        <i class="fab fa-linkedin-in fa-2x mx-2"></i>
                        <span class=" text-muted my-1 font-weight-bold">aroundtz</span>
                    </div>
                </div> -->

            </div>

        </div>


       


    </div>

    {% include 'footer.html' %}
   
</body>

{% endblock %}