{% extends 'base.html' %}
{% load static %}
{% block content %}

<body class="bg-light">

    {% include 'header.html'%}
    <!--********** Contents ************-->
    <div style="background-color: #ff9900;" class="m-0 w-100">
        <div class=" row w-100">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <h1 class=" text-light m-0 font-weight-bold pl-5 pt-5 display-3 d-none d-lg-block d-xl-block">Free
                    Business Promotion</h1>
                <h1 class=" text-light m-0 font-weight-bold pl-5 pt-5 display-3 d-none d-md-block d-lg-none">Free
                    Business Promotion</h1>
                <h1 class=" text-light m-0 font-weight-bold pl-4 pt-4 display-4 d-block d-sm-block d-md-none">Free
                    Business Promotion</h1>

                <div class="">
                    <p class=" text-light m-0 pl-5 pt-2 lead d-none d-lg-block d-xl-block">And easy search for nearby
                        Services.</p>
                    <p class=" text-light m-0 pl-5 pt-2 lead d-none d-none d-md-block d-lg-none">And easy search for
                        nearby Services.</p>
                    <p class=" text-light m-0 pl-4 pt-2 lead d-none d-block d-sm-block d-md-none">And easy search for
                        nearby Services.</p>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class=" d-flex justify-content-center">
                    <img src="{% static 'img/undraw_business_shop.svg' %}" alt="" width="350" height="auto"
                        class="d-none d-lg-block d-xl-block mt-5">
                </div>

            </div>

        </div>


        <div class="d-flex justify-content-center mt-5 pb-2">
            <a href="{% url 'accounts:signup' %}" class="btn btn-light font-weight-bold btn-lg"
                style="color: #ff9900;">Get Started Now</a>

        </div>


    </div>
    <div class="m-0 p-0" style="transform: scaleY(-1) scaleX(1);">
        <svg xmlns="#" viewBox="0 0 1440 320">
            <path fill="#ff9900" fill-opacity="1"
                d="M0,192L80,165.3C160,139,320,85,480,96C640,107,800,181,960,202.7C1120,224,1280,192,1360,176L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
            </path>

        </svg>

    </div>


    <div class="container mb-5">

        <div class="row">
            <div class="col-12">
                <div class="my-4">
                    <h1 class="font-weight-bold text-center">Service Categories</h1>
                </div>
                <div style="height: 5px; background-color:#ff9900; width:100px;" class="ml-auto mr-auto mt-2 mb-3">
                </div>
                <div class="d-flex flex-row overflow-auto justify-content-between">
                    <div class="d-flex flex-column m-2">
                        <div class="p-0 " style="background-color: #ff9900; border-radius: 100px;">
                            <a class="" href="{% url 'pages:search_cat' query='money agent'%}">
                                <img src="{% static 'icon/money-1.png' %}" alt="" width="40" height="40" class="m-4">
                            </a>
                        </div>
                        <div class="p-1 text-center text-wrap" style="width: 90px;">
                            <p class="font-weight-bold text-wrap">Money Agents</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column m-2">
                        <div class="p-0 " style="background-color: #ff9900; border-radius: 100px;">
                            <a class="" href="{% url 'pages:search_cat' query='fashion' %}">
                                <img src="{% static 'icon/clothing-hanger.png' %}" alt="" width="40" height="40"
                                    class="m-4">
                            </a>

                        </div>
                        <div class="p-1 text-center text-wrap" style="width: 90px;">
                            <p class="font-weight-bold">Fashion</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column m-2">
                        <div class="p-0 " style="background-color: #ff9900; border-radius: 100px;">
                            <a class="" href="{% url 'pages:search_cat' query='mobile & accessories'%}">
                                <img src="{% static 'icon/png' %}" alt="" width="40" height="40" class="m-4">
                            </a>

                        </div>
                        <div class="p-1 text-center text-wrap" style="width: 90px;">
                            <p class="font-weight-bold text-wrap">Mobile & Accessories</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column m-2">
                        <div class="p-0 " style="background-color: #ff9900; border-radius: 100px;">
                            <a class="" href="{% url 'pages:search_cat' query='restaurant'%}">
                                <img src="{% static 'icon/restaurant.png' %}" alt="" width="40" height="40" class="m-4">
                            </a>

                        </div>
                        <div class="py-1 text-center text-wrap" style="width: 90px;">
                            <p class="font-weight-bold">Restaurants</p>
                        </div>
                    </div>
                    <div class="d-flex flex-column m-2">
                        <div class="p-0 rounded-circle"
                            style="background-color: #ff9900; border-radius: 50%; height: 88px; width: 90px;">
                            <a class="" href="{% url 'pages:search_cat' query='other'%}">
                                <div class="mx-4 text-center" style="margin-top: 28px;">
                                    <i class="fas fa-plus fa-2x text-light"></i>
                                </div>
                            </a>
                        </div>
                        <div class="py-1 text-center text-wrap" style="width: 90px;">
                            <p class="font-weight-bold">Other</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <style>
            a:focus {
                outline: none;
            }
        </style>
        <div class="">           
            {% if sponsored%}
            <h2 class=" font-weight-bold mt-5">Sponsored</h2>
            <div style="height: 4px; background-color:#ff9900; width:100px;" class="mr-auto mt-2 mb-3">
            </div>
            {% endif %}
            <div class="autoplay mx-3">
                {% for post in sponsored %}
                
                <div class="">
                    <div class="d-flex justify-content-center">

                        <div class="card m-2 border-0" style="max-width: 540px; height:18rem;">
                            <a href="{% url 'post:view_post' post.id%}">
                                <img src="{{ post.image.url }}" class="card-img-top border-0" height="200" width="100%"
                                    alt="..." style="object-fit:cover;">
                            </a>
                            <span class="border-bottom"></span>
                            <div class="card-body">
                                <a href="{% url 'post:view_post' post.id%}" class=" text-decoration-none text-dark">
                                    <div class="">
                                        <h4 class="card-title mb-1"
                                            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            {{post.title}}
                                        </h4>
                                    </div>

                                </a>

                                <h5 class="card-title mb-1" style="color: #ff9900;">TSh
                                    {{ post.price|floatformat:"0" }}/=</h5>
                                <!-- <div style="text-overflow:ellipsis; overflow:hidden; height:4rem;">
                                    <p class="card-text text-muted" style="line-height: 1;"><small>{{post.content}}</small>
                                    </p>
                                </div> -->

                            </div>
                            <!-- <div class="d-flex flex-row justify-content-end p-2">
                                <div class=" mr-auto ml-2">
                                    <p class="card-text text-muted"> <small>{{post.whenpublished}}</small></p>
                                </div>
                                <div class="mr-2">
                                    <a href="sms:{{post.phone}}" style="color: #ff9900;">
                                        <i class="fas fa-sms fa-2x"></i>
                                    </a>
                                </div>
                                <div class="mr-1">
                                    <a href="tel:{{post.phone}}" style="color: #ff9900;">
                                        <i class="fas fa-phone-square-alt fa-2x"></i>
                                    </a>
                                </div>
                                <a href="tel:{{post.phone}}" class="p-1 text-decoration-none" style="color: #ff9900;">
                                    <span class="">{{post.phone}}</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
              
                {% empty %}
                
                {% endfor %}
            </div>

        </div>

        <div class="">
            <h2 class=" font-weight-bold mt-5">Daily Deals</h2>
            <div style="height: 4px; background-color:#ff9900; width:100px;" class="mr-auto mt-2 mb-3">
            </div>
            <div class="autoplay mx-3">

                {% for post in posts %}
                <div class="">
                    <div class="d-flex justify-content-center">

                        <div class="card m-2 border-0" style="max-width: 540px; height:18rem;">
                            <a href="{% url 'post:view_post' post.id%}">
                                <img src="{{ post.image.url }}" class="card-img-top border-0" height="200" width="100%"
                                    alt="..." style="object-fit:cover;">
                            </a>
                            <span class="border-bottom"></span>
                            <div class="card-body">
                                <a href="{% url 'post:view_post' post.id%}" class=" text-decoration-none text-dark">
                                    <div class="">
                                        <h4 class="card-title mb-1"
                                            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            {{post.title}}
                                        </h4>
                                    </div>

                                </a>

                                <h5 class="card-title mb-1" style="color: #ff9900;">TSh
                                    {{ post.price|floatformat:"0" }}/=</h5>
                                <!-- <div style="text-overflow:ellipsis; overflow:hidden; height:4rem;">
                                    <p class="card-text text-muted" style="line-height: 1;"><small>{{post.content}}</small>
                                    </p>
                                </div> -->

                            </div>
                            <!-- <div class="d-flex flex-row justify-content-end p-2">
                                <div class=" mr-auto ml-2">
                                    <p class="card-text text-muted"> <small>{{post.whenpublished}}</small></p>
                                </div>
                                <div class="mr-2">
                                    <a href="sms:{{post.phone}}" style="color: #ff9900;">
                                        <i class="fas fa-sms fa-2x"></i>
                                    </a>
                                </div>
                                <div class="mr-1">
                                    <a href="tel:{{post.phone}}" style="color: #ff9900;">
                                        <i class="fas fa-phone-square-alt fa-2x"></i>
                                    </a>
                                </div>
                                <a href="tel:{{post.phone}}" class="p-1 text-decoration-none" style="color: #ff9900;">
                                    <span class="">{{post.phone}}</span>
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="alert alert-secondary w-100 mx-4" role="alert">
                    No post found!
                </div>

                {% endfor %}




            </div>

        </div>
        <script type="text/javascript">
            $(document).ready(function () {

                $(".regular").slick({

                });
            });

            $('.autoplay').slick({
                arrows: true,
                dots: false,
                slidesToShow: 3,
                slidesToScroll: 3,
                //speed: 300,
                centerMode: false,
                autoplay: true,
                autoplaySpeed: 2000,
                swipeToSlide: true,
                responsive: [{
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 3,
                            infinite: true,
                            dots: false
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            dots: false,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                ]
            });
        </script>


        <h2 class=" font-weight-bold mt-5">Features</h2>
        <div style="height: 4px; background-color:#ff9900; width:100px;" class="mr-auto mt-2 mb-3">
        </div>
        <!-- update -->
        <div class="row w-100 m-0 mt- js-reveal pt-3">

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">

                <div class=" d-flex flex-column mb-5  bg-white">
                    <div class=" d-flex justify-content-center mt-5">
                        <i class="fas fa-map-marked-alt fa-4x" style="color: #ff9900;"></i>
                    </div>

                    <h4 class=" text-center font-weight-bold mt-3 mx-2">Search for Nearby Services</h4>
                    <div class="mx-2">
                        <p class=" text-center text-muted">
                            Be aware of available services around your location.
                        </p>

                    </div>
                    <div class="d-flex justify-content-center pb-5">
                        <a href="{% url 'pages:search' %}" class="btn btn-outline-secondary font-weight-bold"
                            style="color: #ff9900;">Search Now</a>
                    </div>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">

                <div class=" d-flex flex-column mb-5  bg-white">
                    <div class=" d-flex justify-content-center mt-5">
                        <i class="fas fa-chart-line fa-4x" style="color: #ff9900;"></i>
                    </div>

                    <h4 class=" text-center font-weight-bold mt-3 mx-2">Grow your Business</h4>
                    <div class=" mx-2">
                        <p class=" text-center text-muted">
                            Grow your business with us to increase your sales and customers.

                        </p>

                    </div>
                    <div class="d-flex justify-content-center pb-5">
                        <a href="{% url 'accounts:signup' %}" class="btn btn-outline-secondary font-weight-bold"
                            style="color: #ff9900;">Start Now</a>
                    </div>

                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">

                <div class=" d-flex flex-column mb-5 bg-white">
                    <div class=" d-flex justify-content-center mt-5">
                        <i class="fas fa-bullhorn fa-4x" style="color: #ff9900;"></i>
                    </div>

                    <h4 class=" text-center font-weight-bold mt-3 mx-2">Advertisement</h4>
                    <div class=" mx-2">
                        <p class=" text-center text-muted">
                            Advertise your business here to be known to increase your sales and customers by posts.
                        </p>

                    </div>
                    <div class=" d-flex justify-content-center pb-5">
                        <a href="{% url 'post:posts' %}" class="btn btn-outline-secondary  font-weight-bold"
                            style="color: #ff9900;">Get Started</a>
                    </div>


                </div>
            </div>


        </div>



        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class=" my-5 pt-md-5">
                    <h1 class=" font-weight-bold">Shop Safe</h1>
                    <div style="height: 5px; background-color:#ff9900; width:100px;" class="mr-auto mt-2 mb-3"></div>
                    <p class=" lead text-muted mt-3">Protect yourself from COVID-19 shop safe and avoid unnecessary
                        movement by using Around Tz.</p>
                        <p class=" lead text-muted mt-3"> {% lorem 25 w %}</p>
                    <a href="{% url 'pages:search' %}" class="btn btn-outline-light text-light font-weight-bold btn-lg"
                        style="background-color: #ff9900;">Shop Now</a>
                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="{% static 'img/mask-man.png' %}" alt="" width="100%" height="auto">

            </div>
        </div>

    </div>
 
    {% include 'footer.html' %}
</body>
{% endblock %}