{% extends 'base.html' %}
{% load static %}
{% load around_tags %}


{% block content %}

<body id="svgbg">
    {% include 'header.html' %}
    <style>
        #svgbg {
            background-image: url("{% static 'img/bgiconpatterns.png' %}");
            /*background-repeat: no-repeat;
            background-size: cover;
            background-size: 100%;
            height: 100vh;*/

        }
    </style>
    <div class="container-fluid px-lg-5 mt-3" style="min-height: 550px;">        
        <!-- Update -->
        <div class="row px-2 mx-2 bg-light rounded-lg border">
          
            <div class=" col-12 my-2 mx-auto">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row">
                        <div class=" col-10 p-0">
                            <input type="text" class="form-control " placeholder="Search post" name="query">
                        </div>
    
                        <div class=" col-2 pl-2">
                            <button type="submit" class="btn text-light"
                                style="background-color:#ff9900">
                                <i class="fas fa-search fa-1x text-light"></i>
                                </button>
                        </div>
    
                    </div>
                    

                </form>
            </div>

        </div>

       
        <div class="row mb-5 pb-5" style="margin-top: 20px">
            {% for post in posts %}

            {% if forloop.counter|reminder == 0 %}
                <div class="autoplay col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-3">
                {% for p in sponsored %}
                {% if p.sponsored_post.sponsored == True %}

                <div class="">
                    <div class="d-flex justify-content-center">

                        <div class="card m-2 border-0" style="max-width: 540px; height:25rem;">
                            <a href="{% url 'post:view_post' p.id%}">
                                <img src="{{ p.image.url }}" class="card-img-top border-0" height="200" width="100%"
                                    alt="..." style="object-fit:cover;">
                            </a>
                            <span class="border-bottom"></span>
                            <div class="card-body">
                                <small>Sponsored</small>
                                <a href="{% url 'post:view_post' p.id%}" class=" text-decoration-none text-dark">
                                    <div class="">
                                        <h4 class="card-title mb-1"
                                            style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                            {{p.title}}
                                        </h4>
                                    </div>
                                   

                                </a>

                                <h5 class="card-title mb-1" style="color: #ff9900;">TSh
                                    {{ p.price|floatformat:"0" }}/=</h5>
                                <div style="text-overflow:ellipsis; overflow:hidden; height:4rem;">
                                    <p class="card-text text-muted" style="line-height: 1;"><small>{{p.content}}</small>
                                    </p>
                                </div>

                            </div>
                            <div class="d-flex flex-row justify-content-end p-2">
                                <div class=" mr-auto ml-2">
                                    <p class="card-text text-muted"> <small>{{p.whenpublished}}</small></p>
                                </div>
                                <div class="mr-2">
                                    <a href="sms:{{p.phone}}" style="color: #ff9900;">
                                        <i class="fas fa-sms fa-2x"></i>
                                    </a>
                                </div>
                                <div class="mr-1">
                                    <a href="tel:{{p.phone}}" style="color: #ff9900;">
                                        <i class="fas fa-phone-square-alt fa-2x"></i>
                                    </a>
                                </div>
                                <a href="tel:{{p.phone}}" class="p-1 text-decoration-none" style="color: #ff9900;">
                                    <span class="">{{po.phone}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>               
                
                {% endif %}

                {% endfor %}
            </div>
            {% endif %}
           
            
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-3">
                <div class="d-flex justify-content-center">

                    <div class="card m-2 border-0" style="max-width: 540px; height:25rem;">
                        <a href="{% url 'post:view_post' post.id%}">
                            <img src="{{ post.image.url }}" class="card-img-top border-0" height="200" width="100%"
                                alt="..." style="object-fit:cover;">
                        </a>
                        <span class="border-bottom"></span>
                        <div class="card-body">
                            <a href="{% url 'post:view_post' post.id%}" class=" text-decoration-none text-dark">
                                <!-- Update -->
                                <div class="">
                                    <h4 class="card-title mb-1" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                        {{post.title}}
                                    </h4>
                                </div>
                               
                            </a>

                            <h5 class="card-title mb-1" style="color: #ff9900;">TSh {{ post.price|floatformat:"0" }}/=</h5>
                            <div style="text-overflow:ellipsis; overflow:hidden; height:4rem;">
                                <p class="card-text text-muted" style="line-height: 1;"><small>{{post.content}}</small>
                                </p>
                            </div>
                           
                        </div>
                        <div class="d-flex flex-row justify-content-end p-2">
                            <div class=" mr-auto ml-2">
                                <p class="card-text text-muted"> <small>{{post.whenpublished}}</small></p>
                            </div>
                            <div class="mr-2">
                                <a href="sms:{{post.phone}}" style="color: #ff9900;">
                                    <i class="fas fa-sms fa-2x"></i>
                                </a>
                            </div>
                            <div class="mr-1">
                                <a href="tel:{{post.phone}}" style="color: #ff9900;">
                                    <i class="fas fa-phone-square-alt fa-2x"></i>
                                </a>
                            </div>
                            <a href="tel:{{post.phone}}" class="p-1 text-decoration-none" style="color: #ff9900;">
                                <span class="">{{post.phone}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="alert alert-secondary w-100 mx-4" role="alert">
                No post found!
            </div>

            {% endfor %}
        </div>

        <div class="row pb-5 mb-5">
            
            <div class="col-12">

                <nav aria-label="Page navigation">
                    {% if posts.has_other_pages %}
                <ul class="pagination mx-auto d-flex justify-content-center">
                    {% if posts.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ posts.previous_page_number }}" class="page-link text-dark" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item rounded-left" style="background-color: #ff9900;">
                        <a href="" class="nav-link disabled font-weight-bold" tabindex="-1" aria-disabled="true" aria-label="Previous">
                            <span varia-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    {% for i in posts.paginator.page_range %}
                    {% if posts.number == i %}
                    <li class="active page-item" style="background-color: #ff9900;">
                        <a href="" class="nav-link disabled font-weight-bold" tabindex="-1" aria-disabled="true">
                            <span>{{ i }} <span class="sr-only">(current)</span></span>
                        </a>
                       
                    </li>
                    {% else %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link text-dark">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if posts.has_next %}
                    <li class="page-item">
                        <a href="?page={{ posts.next_page_number }}" class="page-link text-dark" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item rounded-right" style="background-color: #ff9900;">
                        <a href="" class="nav-link disabled font-weight-bold" tabindex="-1" aria-disabled="true" aria-label="Next">
                            <span varia-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                </nav>

            </div>

        </div>
        <!-- update -->
        <div class="fixed-bottom mb-5 pb-4 mr-1 d-flex justify-content-end" >
            <div class="" style="background-color: #ff9900; border-radius: 50%; height: 56px; width: 56px;">
                <a href="{% url 'post:add_post' %}" class="">
                    <div class=" mx-3 text-center" style="margin-top: 17px;">                    
                        <i class="fas fa-pencil-alt fa-lg text-light"></i>
                    </div>                   
                </a>              
            </div>
           
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $(".regular").slick({

            });
        });

        $('.autoplay').slick({
            arrows: false,
            dots: false,
            slidesToShow: 1,
            slidesToScroll: 1,
            //speed: 300,
            centerMode: false,
            autoplay: true,
            autoplaySpeed: 3000,
            swipeToSlide: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        infinite: true,
                        dots: false
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        dots: false,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });
    </script>

    
    {% include 'footer.html' %}
</body>
{% endblock %}