{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<body>
    {% include 'profile_header.html' %}
    <!-- CONTAINER -->
    <div class="container">

        <div class="row mt-3">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <form method="POST">{% csrf_token %}
                        <h4 class="font-weight-bold">Personal information</h4>
                        <hr style="background-color: #ff9900;">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{form.first_name|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-6">
                                {{form.last_name|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <span class="mr-3 ml-1">Gender</span>
                                {{form.gender|as_crispy_field}}
                            </div>
                            <div class="form-group col-md-6">
                                <div class="row">


                                    <div class="col">
                                        <span class="m-1">Birth date</span>
                                        {{form.birthdate|as_crispy_field}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4 class="font-weight-bold">Business information</h4>
                        <hr style="background-color: #ff9900;">
                        <div class="form-row">
                            <div class="form-group col">
                                {{form.business_name|as_crispy_field}}
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {{form.business_type|as_crispy_field}}
                            </div>

                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                {{form.country|as_crispy_field}}
                            </div>
                            <div class="form-group col">
                                {{form.city|as_crispy_field}}
                            </div>
                        </div>

                        <div class="form-group">

                            {{form.street|as_crispy_field}}
                        </div>
                        <button type="submit" class="btn mb-5 w-100 text-light"  style="background-color:#ff9900">Submit</button>
                    </form>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img src="{% static 'img/undraw_personal_information.svg' %}" alt="" width="100%" height="100%" class=" pb-5">
            </div>
        </div>

    </div>
      
    {% include 'footer.html' %}
</body>

{% endblock %}