{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<body>

    <!-- end -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css' rel='stylesheet' />
    <!-- ****************** NAVIGATION BAR -->
    {% include 'profile_header.html' %}


    <div class="container mb-5">

        <div class="row mt-3">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <form method="POST">{% csrf_token %}
                        <h4 class="font-weight-bold">Business Details</h4>
                        <hr style="background-color: #ff9900;">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label class="font-weight-bold" for="">Business description</label>
                                {{form.description|as_crispy_field}}
                            </div>

                        </div>
                        <label class="font-weight-bold">Pin your business location by clicking on a map.</label>
                        <div class="form-row">
                            <div class="form-group col-12">
                                {{form.longitude|as_crispy_field}}
                                {{form.latitude|as_crispy_field}}
                                <br>
                                <style>
                                    #menu {
                                        position: absolute;
                                        background: #fff;
                                        padding: 5px;
                                        font-family: 'Open Sans', sans-serif;
                                        z-index: 1;
                                    }
                                </style>
                                <div id="menu">
                                    <input id="streets-v11" type="radio" name="rtoggle" value="streets"
                                        checked="checked" />
                                    <label for="streets">streets</label>
                                    <!-- <input id="light-v10" type="radio" name="rtoggle" value="light" />
                                    <label for="light">light</label>
                                    <input id="dark-v10" type="radio" name="rtoggle" value="dark" />
                                    <label for="dark">dark</label>
                                    <input id="outdoors-v11" type="radio" name="rtoggle" value="outdoors" />
                                    <label for="outdoors">outdoors</label> -->
                                    <input id="satellite-v9" type="radio" name="rtoggle" value="satellite" />
                                    <label for="satellite">satellite</label>
                                </div>
                                <div id='map' style='width: 100%; height: 300px;'></div>
                               
                            </div>
                            <div class="form-group col-12">
                            </div>
                        </div>
                        <h6 class="font-weight-bold">Contacts</h6>
                        <div class="form-row">
                            <div class="form-group col">
                                {{form.email|as_crispy_field}}
                            </div>
                            <div class="form-group col">
                                {{form.phone|as_crispy_field}}
                            </div>

                        </div>

                        <button type="submit" class="btn text-light mb-5 w-100"
                            style="background-color:#ff9900">Submit</button>
                    </form>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">

                <img src="{% static 'img/undraw_my_location.svg' %}" alt="" width="100%" height="100%">
            </div>
        </div>

    </div>

    <script>
        const key = 'pk.eyJ1IjoicmV4eTA5IiwiYSI6ImNrM2V3YnpkMTAybHYzbW9kbnQxMnY0NnIifQ.ttNaEZzE8nFpHXyPBZTnFQ';

        mapboxgl.accessToken = key;

        var coordinates = document.getElementById('coordinates');
        var map = new mapboxgl.Map({
            container: 'map',
            zoom: 12,
            center: [39.277181053929326, -6.81371130540856],
            style: 'mapbox://styles/mapbox/streets-v11',

        });
        // Add zoom and rotation controls to the map.



        var marker = new mapboxgl.Marker({})
        map.addControl(
            new mapboxgl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );

        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl());
        map.getCanvas().style.cursor = 'pointer';
        map.on('click', function (e) {
            var lngLat1 = e.lngLat;
            document.getElementById('info1').value = lngLat1.lng;
            document.getElementById('info2').value = lngLat1.lat;

            marker.setLngLat([lngLat1.lng, lngLat1.lat])
                .addTo(map);
        });

        var layerList = document.getElementById('menu');
        var inputs = layerList.getElementsByTagName('input');

        function switchLayer(layer) {
            var layerId = layer.target.id;
            map.setStyle('mapbox://styles/mapbox/' + layerId);
        }

        for (var i = 0; i < inputs.length; i++) {
            inputs[i].onclick = switchLayer;
        }
    </script>
    <div style="background-color: #ff9900;" class="m-0 w-100">
        <div class=" px-5 py-2">
            <hr class=" bg-light m-0">
        </div>

        <div class=" d-flex justify-content-center">
            <p class=" text-dark font-weight-bold">© 2020 AroundTz</p>
        </div>

    </div>

    {% include 'footer.html' %}
</body>

{% endblock %}