{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}
<script>
    
</script>
{% endblock %}

{% block content %}
 <!-- ****************** NAVIGATION BAR -->
 {% include 'profile_header.html' %}

<h1 class="page-header">Gallery Photo Upload</h1>
<div class="container">

    <div class="row mt-5">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>

                <form method="post" enctype="multipart/form-data" id="formUpload">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button type="submit" class="btn btn-primary ">Upload</button>
                </form>
               
            </div>
        </div>
    </div>
    <div class="row mb-5" style="margin-top: 20px">
        {% for photo in photos %}
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <img src="{{ photo.image.url }}" class="" width="100%" height="300" style="object-fit: contain;">
            <a href="{% url 'accounts:gallery_delete' photo.id %}" class=" text-decoration-none text-danger"><i class="far fa-trash-alt"></i></a>
        </div>
        {% endfor %}
    </div>

</div>


{% endblock %}
