{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<body id="svgbg" class=" bg-light">
    <style>
        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 768px) {

            #svgbg {
                background-image: url("{% static 'img/undraw_zoom_in.svg' %}");
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 100%;
    
            }

        }
       
    </style>
    <!-- ****************** NAVIGATION BAR -->
    {% include 'profile_header.html' %}
    <div class="container bg-light rounded-lg mt-md-5">
        <h4 class="page-header font-weight-bold pt-3">Gallery Photo Upload</h4>
        <hr class="" style="background-color: #ff9900;">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div>
                    <form method="post" enctype="multipart/form-data" id="formUpload">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br>
                        <button type="submit" class="btn font-weight-bold text-light "
                            style="background-color: #ff9900;">Upload</button>
                    </form>

                </div>
            </div>
        </div>
        <div class="row mb-5 pb-3">
            {% for photo in photos %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <img src="{{ photo.image.url }}" class="" width="100%" height="300" style="object-fit: contain;">
                <a href="{% url 'accounts:gallery_delete' photo.id %}" class=" text-decoration-none text-danger"><i
                        class="far fa-trash-alt"></i> Delete</a>
            </div>
            {% endfor %}
        </div>

    </div>

    <div style="background-color: #ff9900;" class="m-0 w-100">
        <div class=" px-5 py-2">
            <hr class=" bg-light m-0">
        </div>

        <div class=" d-flex justify-content-center">
            <p class=" text-dark font-weight-bold">© 2020 AroundTz</p>
        </div>

    </div>

    {% include 'footer.html' %}
</body>

{% endblock %}