{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block javascript %}
<script>
   
</script>
{% endblock %}

{% block content %}
<!-- ****************** NAVIGATION BAR -->
{% include 'profile_header.html' %}

<div class="container mt-3 mb-5">
    <h2 class="page-header">Product or Service</h2>
    <hr>
    {% for product in products %}
    <div class="row mt-5">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div>
                <img src="{{ product.image.url }}" class="card-img-top border-0 pt-1" height="400" width="100%" alt="..." style="object-fit: contain;">
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h1 class="font-weight-bold mt-4">{{ product.title }}</h1>
            <hr>
            <div style="text-overflow:ellipsis; overflow:hidden; height:5rem;">
                <p class="text-secondary" style="font-family: Arial, Helvetica, sans-serif; font-size:large">{{ product.details }}</p>
            </div>
            <h3 class="">{{ product.price }}/=</h3>
        </div>
    </div>
    {% endfor %}
    
</div>


{% endblock %}